@use '../base'

.cart
    padding: 1rem
    max-width: 600px
    margin: 0 auto

    .btn
        font-size: 1em
        justify-content: flex-end
        align-items: center
        margin: 0 auto
        text-align: center

    h1
        margin: 1rem 0

.empty-cart
    display: flex
    justify-content: center
    align-items: center
    height: 70vh
    padding: 0 10%
    
    h2
        margin-bottom: 1rem

.cart-card
    display: flex
    margin-bottom: 0.5rem
    transition: 500ms

.cart-main
    display: flex
    width: 90%

.cart-img
    width: 25%
    height: auto

.cart-info
    width: 75%
    border-left: solid 1px
    border-color: base.$primary-light
    padding-left: 1rem