@use '../base'

.sell
    padding: 2rem
    max-width: 600px
    margin: 2rem auto

    @media (max-width: 700px)
        margin: 2rem 5%

    svg
        color: base.$primary-light

    h1
        margin-bottom: 1rem

    img
        $max: 300px

        width: 100%
        max-width: $max
        max-height: $max

    p
        text-align: center

    span
        color: base.$secondary

    button
        margin-top: .5rem

.title
    text-align: center
    margin: 1rem