.main
    margin-bottom: 1rem

.review_zone
    display: flex
    align-items: center

    form
        width: 100%
        display: flex
        align-items: center
        justify-content: center

.title
    margin: .5rem 0

.input
    resize: unset
    width: 65%
    height: 7em
    padding: .25rem
    border-width: 1px
    border-color: gray
    margin-right: 5%

.send_review
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 30%

@media (max-width: 500px)
    .review_zone
        form
            flex-direction: column

    .send_review, .input
        width: 100%
        margin: .5rem 0

.signin
    margin: 0 auto 