@use '../base'

.card
    overflow: hidden

    .img_container 
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 75%
        margin-bottom: 1rem

    img 
        display: block
        margin: 0 auto
        width: 100%
        max-width: 300px
        max-height: 300px

.info
    height: 25%
    min-height: 3.5em
    width: 90%
    display: flex
    flex-direction: column
    justify-content: center
    border-top: solid 2px base.$primary-light
