@use '../base'
    
.nav-bar
    margin: 0
    padding-left: 0
    display: flex
    justify-content: space-around
  
.link
    display: flex
    align-items: center
    cursor: pointer
    
    &:hover
        transition: 200ms
        color: base.$secondary