body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, footer {
  text-align: center;
  color: white;
  background-color: rgb(47, 53, 65);
  padding: 1rem 0;
}

h1, h2, p {
  margin: 0 auto;
}

.nav-bar {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.link {
  display: flex;
  align-items: center;
}

.link:hover {
  transition: 200ms;
  color: darkorange;
}

.search-bar {
  border-radius: .5rem;
  border-width: 0 0 .2rem 0;
  border-color: rgb(47, 53, 65);
  width: 80%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

main {
  min-height: 90vh;
}